body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

main {
  z-index: 1;
  position: relative;
  top: 69px;
  width: 100%;
}

/*header*/
header {
  display: flex;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 3;
  top: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

.menu {
  margin-right: 5px;
}

.menu span {
  display: inline;
  padding: 0 10px;
}

.menu a:link {
  color: seashell;
}

.menu a:visited {
  color: seashell;
}

/*Banner*/
.banner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
}

.title {
  background-color: black;
  width: 100%;
}

#tea {
  padding-top: 30px;
  margin: 0 auto;
  width: 1000px;
}

.image-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  margin: 15px;
  display: inline-block;
}

.vignette {
  width: 300px;
  height: 200px;
}

figcaption h4 {
  margin: 10px;
}


#locations {
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.text-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 980px;
}

.text-unit {
  opacity: 1;
  width: 300px;
  height: 275px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#locations h2 {
  margin: 0px 0px 15px 0px;
}

.contact {
  height: 200px;
}

.contact h2 {
  margin-top: 15px;
}
